header{
	background: #ffffff;
	margin: -10px;
	height: 200px
}

body{
	font-family: candara;
	background:#edeccf
}

.Vitaminas{
	width: 300px;
	margin-left: -10px;
}
	
h1{
  display: inline-block;
  margin-left: 400px;
  position: absolute;
  font-size:45px;
  margin-top: 4px
}

.tituloa{
 	display: inline-block;
 	margin-left: 125px;
 	margin-top: 150px;
 	font-size:30px;
 	position: absolute;
}
 
.titulob{
	display: inline-block;
	margin-left: 600px;
	font-size:30px;
	margin-top:150px; 
	position: absolute;
}