body{
	font-size: 25px;
	font-family: candara;
	background:#edeccf;

}

header{
	background: #ffffff;
	margin: -10px;
	height: 200px;
	border: 5px solid; black;
}

.Vitaminas{
	width: 300px;
	margin-left: -10px;
}

h1{
  display: inline-block;
  margin-left: 400px;
  position: absolute;
  font-size:45px;
  margin-top: 4px
}

.tituloa{
 	display: inline-block;
 	margin-left: 125px;
 	margin-top: 150px;
 	font-size:30px;
 	position: absolute;
}

.tituloa:hover{
 	background:gold ;
}

.titulob{
	display: inline-block;
	margin-left: 600px;
	font-size:30px;
	margin-top:150px;
	position: absolute;
}
.titulob:hover{
 	background:gold ;
}
