body{
	background:#edeccf;
	font-family: candara;
	font-size:25px;
}

header{
	background: #ffffff;
	margin: -10px;
	border: 5px solid; black
}

.img{
	height: 200px;
}

h1{
	display: inline-block;
	position: absolute;
	margin-top:10px;
	margin-left: 375px;
	font-size:45px;
}


.titulob{
	display: inline-block;
	position: absolute;
	font-size: 30px;
	margin-top: 150px;
	margin-left: 50px;
}

.titulob:hover{
 	background:gold ;
}

.tituloh{
	display: inline-block;
	position: absolute;
	font-size: 30px;
	margin-top: 150px;
	margin-left: 600px;
}
.tituloh:hover{
	background:gold;
}

.A{
	width: 25%;
	margin-left: 100px;
	border: 5px solid; black;
}
