header{
	background:#FFFFFF;
	margin: -10px;
}	

h1{
	display: inline-block;
	margin-left: 200px;
	position: absolute;
	top: 85px;
	font-size: 40px
}

.B{
	width: 300px;
	height: 200px

}

body{
	font-family: candara;
	background:#edeccf
}

.alimentos{
	margin-left: 200px;
	height: 200px	
}

.complexob{
	width: 250px;
	height: 200px;
	margin-left: 200px
}



