body{
	font-family: candara;
	background:#edeccf
}

header{
	background:#FFFFFF;
	margin: -10px;
}

.B{
	width: 300px;
	height: 200px;
}

h1{
	display: inline-block;
	margin-left: 200px;
	margin-top:-75px;
	position: absolute;
	top: 85px;
	font-size: 45px;
}
.tituloa{
	display: inline-block;
	position: absolute;
	margin-top: 150px;
	font-size: 30px;
	margin-left: 100px;
}

.tituloh{
	display: inline;
	position: absolute;
	font-size: 30px;
	margin-top: -75px;
	margin-left:950px ;

}

.alimentos{
	margin-left: 200px;
	height: 200px
}

.complexob{
	width: 250px;
	height: 200px;
	margin-left: 200px
}
