.titulo{
	text-align: center;
}

body{
	font-family: candara;
	background: #c8d9bf
}

.B{
	width: 300px;
	height: 200px;
	margin-left:200px  
}

.complexob{
	width: 250px;
	height: 200px;
	margin-left: 200px
}



